#home_curses-container
    display: grid
    grid-template-columns: repeat(1, 1fr)
    grid-gap: 30px 10px
    padding-top: 7px

@media (min-width: 430px)
    #home_curses-container
        grid-template-columns: repeat(2, 1fr)
        grid-gap: 40px 20px

@media (min-width: 700px)
    #home_curses-container
        grid-template-columns: repeat(3, 1fr)

@media (min-width: 960px)
    #home_curses-container
        grid-gap: 60px 30px
